<div class="page">
    <div class="main">
        <div class="nav">
            <div class="searchbox">
                <div><i class="fa fa-search"></i><input type="search" placeholder="Search" /></div>
            </div>
            <div class="menu">
                <div class="title">Navigation</div>
                <ul>
                    <li> <i class="fa fa-home"></i>Home</li>
                    <li><i class="fa fa-signal"></i>Activity</li>
                    <li class="active"> <i class="fa fa-tasks"></i>Manage Bookings</li>
                    <li> <i class="fa fa-envelope"></i>Messages</li>
                </ul>
            </div>
        </div>
        <div class="view">
            <div class="viewHeader">
                <div class="title">Manage Bookings</div>
            </div>
            <div class="content">
                <div class="list">
                  <% if owner_signed_in? %>
                    <% @owner_jobs.each do |job| %>
                      <%= render "shared/job", job: job %>
                    <% end %>
                </div>
                <% elsif sitter_signed_in? %>
                  <% @sitter_bookings.where(status: "pending").each do |booking| %>
                    <%= render "shared/sitters_booking", booking: booking %>
                  <% end %>
                <% end %>
             </div>
        </div>
    </div>
</div>
