<div class="home-video-wrapper">
  <%= video_tag "dog_cover.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  <div class="container">
    <h1> Leave your pet in good hands and <strong></h1>
    <h1>go on your vacation stress-free</strong>!</h1>
    <p>Find a great pet sitter today!</p>
    <%= link_to "Find out now", new_job_path, class: "btn btn-gradient" %></h1>
  </div>
</div>


  <div class="cards">
    <div class="card-product">
      <img src="https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"/>
      <div class="card-product-infos">
        <h2>Step one: Join community</h2>
        <p>It was never easier to locate <strong>your dream pet sitter</strong> that fast.</p>
      </div>
    </div>

  <div class="card-product">
      <img src="https://images.unsplash.com/photo-1553322378-eb94e5966b0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
      <div class="card-product-infos">
        <h2>Step two: Locate closest pet sitter</h2>
        <p>Filter the results by <strong>distance and location</strong> at your convenience.</p>
      </div>
    </div>

  <div class="card-product">
      <img src="https://images.unsplash.com/photo-1534243420028-d7b79ea1c703?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" />
      <div class="card-product-infos">
        <h2>Step three: Enjoy your vacation!</h2>
        <p>Gain your peace of mind while on vacation by leaving your pupil in <strong>good hands.</strong></p>
      </div>
    </div>


  </div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Pet Sitter
  </div>
</div>

<%= current_user %>
<%= current_sitter %>
