.button-status {
  background-color: #D3C0D2;
  border: none;
  color: white;
  height: 40px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
}

