.card-product {
  overflow: hidden;
  height: 200px;
  weight: 500px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  height: 120px;
  weight: 300px;
  background: #F1DAC4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 50px 0;

}



.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;

}

// .card-product-infos .card-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;

// }



